.menu {
    div {
        height: max-content;
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
        display: inline-block;
        color: black;
        font-weight: lighter;
        font-size: 3rem;
        transition: color 0.2s, font-size 2s, -webkit-text-stroke 0.2s ease;
    } 
}

@mixin focus-menu() {
    transform: scale(1.1);
    color: white !important;
}

.menu > div > a:hover {
    @include focus-menu();
}

.focused {
    @include focus-menu();
}

@media (max-width: 769px) {
    .mobile {
        display: block;
    }

    .menu > div > a {
        transition: none;
    }

    .menu > div > a:hover,
    .focused {
        color: black !important;
        transform: scale(1);
    }
}