.logo {
    display: flex;
    position: relative;
    flex-direction: column;
    letter-spacing: 0.1rem;
    min-width: max-content;
    z-index: 100;
}

.logo > div > span {
    font-size: clamp(2rem, 3rem, 5vw);
}

.logo > span:last-of-type {
    font-style: italic;
    font-weight: lighter;
    font-size: 1rem;
}

#hamburger-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 3rem;
    width: 100%;
    height: 100%;
    display: block;
}

#hamburger-menu > div:nth-child(1) {
    text-align: left;
    margin-bottom: 3rem;
}

@media (max-width: 769px) {
    .logo > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo > div img {
        display: block !important;
        cursor: pointer;
    }
}
