main {
    background-image: url('/colorado_bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.content {
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
    padding: 2rem;
}

.content p {
    width: 30vw;
}

.content > div:nth-child(2) {
    display: grid;
    grid-template-rows: auto auto;
}

.content > div:nth-child(2) > :nth-child(1) {
    text-align: right;
}

.content > div:nth-child(2) > :nth-child(2) {
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

@media (max-width: 769px) {
    main {
        background-position: 57%;
    }

    .content {
        display: flex;
        justify-content: center;
    }
    .content > div:nth-child(1) {
        display: none;
    }
    .content > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .content > div:nth-child(2) > div:nth-child(2) {
        display: flex;
        height: 100% !important;
        align-items: center;
        justify-content: center !important;
        padding: 10vw;

        p {
            width: 100%;
        }
    }
}
