@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#root {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 3rem;
  font-family: 'Open Sans';
}

.mobile {
  display: none !important;
}

.hidden {
  display: none !important;
}

@media (prefers-color-scheme: light) {


}

@media (max-width: 769px) {
  .mobile {
    display: block;
  }
}
